<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="120">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/bulma.min.css">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="static/jquery-clockpicker.css">
  
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="static/socket.io.min.js"></script>
  <script type="text/javascript" src="static/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="static/script.js"></script>

</head>
<body>

  <div class="grid-container">
    <div class="item1">
     <ul id="menu">
       <li><a href="#" data-page="status">Status</a></li>
       <li><a href="#" data-page="vv">Ventilation & Värme</a></li>
       <li><a href="#" data-page="vattning">Bevattning</a></li>
       <li><a href="#" data-page="settings">Inställningar</a></li>
       <li><a href="#" data-page="logg">Logg</a></li>
       <li id="clock">10:23</li>
     </ul>
   </div>

   <div id="status" class="item2">
    <table>
      <thead>
        <tr>
          <th>Egenskap</th>
          <th>Värde</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ventilation Nord</td>
          <td id="motornordPosition"><div id="nordProgress"><div id="nordBar"></div></div></td>
          <td id="motornordState"></td>
        </tr>
        <tr>
          <td>Ventilation Syd</td>
          <td id="motorsydPosition"><div id="sydProgress"><div id="sydBar"></div></div></td>
          <td id="motorsydState"></td>
        </tr>
        <tr>
          <td>Vattenventil 1</td>
          <td>Stängd</td>
          <td>Öppnar 16:00</td>
        </tr>
        <tr>
          <td>Vattenventil 2</td>
          <td>Öppen</td>
          <td>Stänger 15:22</td>
        </tr>
        <tr>
          <td>Luftemperatur ute</td>
          <td><span id="temperature"></span> &deg;C</td>
          <td></td>
        </tr>
        <tr>
          <td >Luftemperatur växthus</td>
          <td><span id="deg"></span> &deg;C</td>
          <td></td>
        </tr>
        <tr>
          <td>Byvind</td>
          <td>&#8598; <span id="windspeed"></span>m/s</td>
          <td></td>
        </tr>
        <tr>
          <td>Nederbörd</td>
          <td>0.0mm/h</td>
          <td></td>
        </tr>
        <tr>
          <td>Ljusnivå</td>
          <td><span id="lux"></span> Lux</td>
          <td></td>
        </tr>
        <tr>
          <td>Luftfuktighet</td>
          <td><span id="hum"></span> %RF</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="vv" class="item2 content">
    <table>
      <tr>
        <th>Egenskap</th>
        <th >Ändra</th>
        <th >Värde</th>
      </tr>
      <tr>
        <td>Ventilationsautomatik på/av</td>
        <td>
          <form id="ventautswtich" method="POST" action="#">
            <input type="checkbox" value="True" id="data" name="emit_data">
          </form>
        </td>
        <td></td>
      </tr>
      <tr class="vent">
        <td>&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;Ventilation Nord</td>
        <td >
          <form id="ventnord" method="POST" action="#">
            <input type="range" min="0" max="100" value="0" class="slider" id="emit_data" oninput="updateTextInput(this.value);">
          </form>
        </td>
        <td><span id="textInput"></span>%</td>
      </tr>
      <tr class="vent">
        <td>&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;Ventilation Syd</td>
        <td>
          <form id="ventsyd" method="POST" action="#">
            <input type="range" min="0" max="100" value="0" class="slider" id="emit_data2" oninput="updateTextInput2(this.value);">
          </form>
        </td>
        <td><span id="textInput2"></span>%</td>
      </tr>
      <tr>
        <td>Temperatur börvärde dag</td>
        <td>
          <form id="tempsetpointday" method="POST" action="#">
            <input type="range" min="1" max="42" value="20" class="slider" id="d" oninput="updateTextInput3(this.value);">
          </form>
        </td>
        <td><span id="textInput3"></span> &deg;C</td>
      </tr>
      <tr>
        <td>Temperatur börvärde natt</td>
        <td><input type="range" min="1" max="30" value="18" class="slider" id="myRanger3" oninput="updateTextInput4(this.value)" ></td>
        <td><span id="textInput4"></span> &deg;C</td>
      </tr>
      <tr>
        <td>Värmetillskott av/på</td>
        <td>
          <form id="heaterswitch" method="POST" action="#">
            <input type="checkbox" value="True" id="data2" name="emit_data2">
          </form>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;Starttemperatur Värmetillskott</td>
        <td>
          <form id="tempsetpointheater" method="POST" action="#">
            <input type="range" min="0" max="30" value="8" class="slider" id="myRange4" oninput="updateTextInput5(this.value)">
          </form>
        </td>
        <td><span id="textInput5"></span> &deg;C</td>
      </tr>
    </table>
  </div>
  <div id="vattning" class="item2 content">
    <table>
      <thead>
        <tr>
          <th>W1</th>
          <th>W2</th>
          <th>Starttid</th>
          <th>Bevattningstid</th>
        </tr>
      </thead>
      <tr>
        <td><form id="A_W1" method="POST" action="#"><input type="checkbox" id="A_W1d" value="True" checked="checked"></form></td>
        <td><form id="A_W2" method="POST" action="#"><input type="checkbox" id="A_W2d" value="True" checked="checked"></form></td>
        <td><div class="input-group clockpicker"><input type="text" class="form-control" value="09:30"></div></td>
        <td>
          <input type="range" min="0" max="60" value="10" class="slider" id="myRange" oninput="updateRangeInput(this)">
        </td>
        <td><output type="text" value="8">8</output> Minuter</td>
      </tr>
      <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="input-group clockpicker"><input type="text" class="form-control" value="09:30"></div></td>
        <td>
          <input type="range" min="0" max="60" value="10" class="slider" id="myRange" oninput="updateRangeInput(this)">
        </td>
        <td><output type="text" value="8">8</output> Minuter</td>
      </tr>
      <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="input-group clockpicker"><input type="text" class="form-control" value="09:30"></div></td>
        <td>
          <input type="range" min="0" max="60" value="10" class="slider" id="myRange" oninput="updateRangeInput(this)">
        </td>
        <td><output type="text" value="8">8</output> Minuter</td>
      </tr>
      <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="input-group clockpicker"><input type="text" class="form-control" value="09:30"></div></td>
        <td>
          <input type="range" min="0" max="60" value="10" class="slider" id="myRange" oninput="updateRangeInput(this)">
        </td>
        <td><output type="text" value="8">8</output> Minuter</td>
      </tr>
    </table>



    <script type="text/javascript">
      $('.clockpicker').clockpicker();
    </script>
  </div>
  <div id="settings" class="item2 content">
   <h2>Debug data</h2>
   <pre id="zodb_data">
    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
  </pre> 
</pre>
</div>
<div id="logg" class="item2" style="width:100%;">
  <div id="chart_div" style="width:100%;"></div>
</div>
</div>
<div id="dialog-confirm-ventnord" title="Beräkningsfel">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Är motor nord i helt nedstängt läge?</p>
</div>
<div id="dialog-confirm-ventsyd" title="Beräkningsfel">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Är motor syd i helt nedstängt läge?</p>
</div>
</body>
</html>
